{% extends 'base.html' %}

{% block content %}

{% for country in countries %}
    <h3>{{country.name}}</h3>
        <div class="countries_flexbox">
            {% for festival in festivals %}
                {% if festival.country.name == country.name %}
                <div>
                    <img class="poster_image" src="static/images/tinthepark_2008.jpeg" alt="TITP 2008 Line-up"><br>
                    <p class="festival_name">{{festival.name}}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
{% endfor %}

{% endblock content %}