{% extends 'base.html' %}

{% block content %}

<!-- loop through countries and print name -->
<!-- for each country find festivals that match id and print -->
<div class="countries_flexbox">
    {% for festival in festivals %}
    <div class="countries">
        {{festival.country.name}}
        <div>
            {% if festival.country.name == festival.country.name %}
                {{festival.name}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock content %}

