.countries_grid {
    display: grid;
    grid-template-rows: 40px auto;
}

.countries_flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.countries {
    height: 250px;
    width: 150px;
    margin: 5px;
}

.poster_image {
    width: 150px;
}

.festival_name {
    font-weight: bolder;
}