.festival_grid {
    display: grid;
    grid-template-rows: 40px auto;
}

.festival_flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.festivals {
    height: 250px;
    width: 150px;
    margin: 5px;
}

.poster_image {
    width: 150px;
}

/* p {
    margin: 0;
} */

.festival_name {
    font-weight: bolder;
}