.users_grid {
    display: grid;
    grid-template-rows: 40px auto;
}

.users_flexbox {
    display: flex;
    flex-flow: wrap;    
    justify-content: center;
}

.users {
    height: 250px;
    width: 150px;
    margin: 5px;
    background-color: rgb(219, 219, 219);
}