{% extends 'base.html' %}

{% block content %}
    
    <div>
        <h3>Edit Festival</h3>
        <form action="/festivals/{{festival.id}}" method="POST">
            <label for="name">Festival Name:</label>
                <input type="text" id="name" name="name" value="{{festival.name}}" required readonly>
            <select name="country_id" id="country">
            {% for country in countries %}
                <option value="{{country.id}}"
                    {% if festival.country.id == country.id %} selected="selected"{% endif %}>{{country.name}}</option>
            {% endfor %}
            </select>
            <button type="submit">Submit Festival Edit</button>
        </form>
    </div>

{% endblock content %}