<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countries.css') }}">
    <title>{{ title }}</title>
</head>
<body>

    <header>
        <h1>My Festivals</h1>
        <nav>
            <ul class="header_menu">
                <li><a href="/users">Users</a></li>
                <li><a href="/festivals">Festivals</a></li>
                <li><a href="/countries">Countries</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <hr>
        {% block content %}
            
        {% endblock content %}
        <hr>
    </main>
    <footer>
        <p class="footer_text">Thank you for visiting</p>
    </footer>

</body>
</html>