<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>My Festivals</h1>
        <nav>
            <ul class="menu">
                <!-- <li><a href=""></a>Users</li>
                <li><a href=""></a>Festivals</li>
                <li><a href=""></a>Countries</li> -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
            
        {% endblock content %}
    </main>

    <footer>
        <p class="footer_text">Thank you for visitng</p>
    </footer>

</body>
</html>