<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countries.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/festivals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
    <title>{{ title }}</title>
</head>
<body>

    <header>
        <h1 id="main_title"><a href="/">My Festivals</a></h1>
        <nav>
            <ul class="header_menu">
                <li><a href="/users">Users</a></li>
                <li><a href="/festivals">Festivals</a></li>
                <li><a href="/countries">Countries</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <hr>
        {% block content %}
            
        {% endblock content %}
        <hr>
    </main>
    <footer>
        <span>
            <p class="footer_text" id="footer_contact">Contact</p>
            <p class="footer_text" id="footer_sitemap">Sitemap</p>
            <p class="footer_text" id="footer_cookie">Cookie Policy</p>
        </span>
        <span>
            <p class="footer_social_links">github linkdin</p>
        </span>
    </footer>

</body>
</html>